@use '../utilities/flow';
@use '../abstracts/breakpoints';

.guide {
  //position
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;

  //styling
  padding: 3rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  //alignment
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  //typography
  font-weight: 100;
  transition: all 0.5s;

  //children-2
  &__summary {
    cursor: pointer;
    display: block;
    text-align: center;
    height: 2rem;
    width: 2rem;

    &:focus {
      outline: none;
    }

    @include breakpoints.respond(phone-reg) {
      height: 0rem;
      width: 0rem;
    }
  }

  &__heading {
    margin-top: flow.$margin-md;
  }

  &__subheading {
    margin-top: flow.$margin-sm;
    text-transform: none;
  }

  &__btn-open {
    position: relative;
    bottom: 1.5rem;
    right: 1rem;
  }

  &__btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  //JS Rendered Elements
  &__account {
    margin-bottom: flow.$margin-md;
    font-weight: 300;
    color: var(--clr-neutral-500);

    &:nth-of-type(1) {
      margin-top: flow.$margin-md;
    }
  }

  &__data {
    color: var(--clr-neutral-200);
  }
}
