@use '../abstracts/breakpoints';

.popup {
  //position
  position: absolute;
  top: 10%;
  right: 13%;
  z-index: 555;

  //styling
  padding: 2rem 3rem;
  border-radius: 12px;

  //appearance
  opacity: 0;
  visibility: hidden;

  &__movement {
    right: 5rem;

    @include breakpoints.respond(tab-port) {
      top: 30%;
      right: 30%;
    }

    @include breakpoints.respond(phone-mini) {
      top: 45%;
      right: 15%;
    }
  }
}
